amqp==5.3.1
asgiref==3.10.0
attrs==25.4.0
autobahn==24.4.2
Automat==25.4.16
billiard==4.2.2
celery==5.3.0
certifi==2025.10.5
cffi==2.0.0
channels==4.3.0
channels_redis==4.3.0
charset-normalizer==3.4.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cron_descriptor==2.0.6
cryptography==46.0.2
daphne==4.2.1
Django==4.2
django-celery-beat==2.8.1
django-timezone-field==7.1
djangorestframework==3.16.1
GDAL==3.11.4
geographiclib==2.1
geopy==2.4.1
h11==0.16.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
kombu==5.5.4
msgpack==1.1.2
numpy @ file:///D:/bld/bld/rattler-build_numpy_1757504919/work/dist/numpy-2.3.3-cp311-cp311-win_amd64.whl#sha256=151c641a67b28475a3e2caacf01559a5106a617a76830fa8d44eed02af8c59b0
packaging==25.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
redis==6.4.0
requests==2.32.5
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.37.0
vine==5.1.0
wcwidth==0.2.14
zope.interface==8.0.1
